<div class="container">
    <div class="logo" style="
    height: 100px;
    width: 100px;
    margin:0 auto;
"></div>
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step col-xs-3">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                <p><small>Account Type</small></p>
            </div>
            <div class="stepwizard-step col-xs-3">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p><small>Credentials</small></p>
            </div>
            <div class="stepwizard-step col-xs-3">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p><small>Personal Details</small></p>
            </div>
            <div class="stepwizard-step col-xs-3">
                <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                <p><small>Address Details</small></p>
            </div>
            <div class="stepwizard-step col-xs-3">
                <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                <p><small>Confirm Registration</small></p>
            </div>
            <div class="stepwizard-step col-xs-3">
                <a href="#step-6" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
                <p><small>Thank you</small></p>
            </div>
        </div>
    </div>

    <form name="form" #f="ngForm">
        <div class="panel panel-primary setup-content" id="step-1">
            <div class="panel-heading">
                <h3 class="panel-title">Account Type</h3>
            </div>
            <div class="panel-body">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !acType.valid }">
                    <label class="control-label">Account Type</label>
                    <select name="acType" #acType="ngModel" required class="form-control"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="data.Account.Type">
                        <option value="Individual">Individual</option>
                        <option value="Joint">Joint</option>
                        <option value="Business">Business</option>
                    </select>
                    <div *ngIf="f.submitted && !acType.valid" class="error">Please select account type</div>
                </div>
                <button [disabled]="!acType.valid" class="btn btn-primary nextBtn pull-right"
                    type="button">Next</button>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-heading">
                <h3 class="panel-title">Credentials</h3>
            </div>
            <div class="panel-body">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !UserName.valid }">
                    <label class="control-label">User name</label>
                    <input maxlength="200" type="text" required="required" name="UserName" #UserName="ngModel"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="data.Credentials.UserName"
                        class="form-control" placeholder="Enter User Name" />
                    <div *ngIf="!UserName.valid && UserName.touched" class="error">Username is required</div>
                </div>
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input maxlength="200" type="text" required="required" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.Credentials.FirstName" name="FirstName" #FirstName="ngModel" class="form-control" placeholder="Enter First Name" />
                        <div *ngIf="!FirstName.valid && FirstName.touched" class="error">First Name is required</div>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input maxlength="200" type="text" required="required" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.Credentials.LastName" name="LastName" #LastName="ngModel" class="form-control" placeholder="Enter Last Name" />
                        <div *ngIf="!LastName.valid && LastName.touched" class="error">Last Name is required</div>
                </div>
                <div class="form-group">
                    <label class="control-label">E-mail Address</label>
                    <input maxlength="200" type="email" required="required" class="form-control"
                        [ngModelOptions]="{standalone: true}" name="Email" #Email="ngModel" [(ngModel)]="data.Credentials.Email" [email]="true"
                        placeholder="Enter E-mail Address" />
                        <div *ngIf="!Email.valid && Email.touched" class="error">E-mail is incorrect</div>
                </div>
                <div class="form-group">
                    <label class="control-label">Country </label>
                    <select required="required" class="form-control" name="Country" #Country="ngModel" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.Credentials.Country">
                        <option value="Netherlands">Netherlands</option>
                        <option value="Germany">Germany</option>
                        <option value="Belgium">Belgium</option>
                    </select>
                    <div *ngIf="!Country.valid && Country.touched" class="error">Country is required</div>
                </div>
                <div class="form-group">
                    <input type="checkbox" required="required"  [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.Credentials.IsDisclaimerApproved" /><label class="control-label">Do you agree
                        with the terms of use?</label>
                </div>
                <button class="btn btn-primary nextBtn pull-right" type="button">Sign up</button>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-3">
            <div class="panel-heading">
                <h3 class="panel-title">Personal Details</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Passport Number</label>
                    <input maxlength="200" type="text" name="PassportNumber" #PassportNumber="ngModel" required="required" class="form-control"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="data.PersonalDetails.PassportNumber"
                        placeholder="Enter Passport Number" />
                        <div *ngIf="!PassportNumber.valid && PassportNumber.touched" class="error">Passport Number is required</div>
                </div>
                <div class="form-group">
                    <label class="control-label">Passport Expiration Date</label>
                    <input maxlength="200" type="date" required="required" class="form-control"
                        [ngModelOptions]="{standalone: true}" name="ExpirationDate" #ExpirationDate="ngModel" [(ngModel)]="data.PersonalDetails.ExpirationDate"
                        placeholder="Enter Passport Expiration Date" />
                        <div *ngIf="!ExpirationDate.valid && ExpirationDate.touched" class="error">Passport Expiration Date is required</div>
                </div>
                <div class="form-group">
                    <label class="control-label">Personal Number (e.g. BSN/Social Security Number)</label>
                    <input maxlength="200" type="text" required="required" class="form-control"
                        [ngModelOptions]="{standalone: true}" name="SSN" #SSN="ngModel" [(ngModel)]="data.PersonalDetails.SSN"
                        placeholder="Enter Personal Number" />
                        <div *ngIf="!SSN.valid && SSN.touched" class="error">Personal Number is required</div>
                </div>
                <div class="form-group">
                    <label class="control-label">Country</label>
                    <select required="required" name="country" #country="ngModel" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.PersonalDetails.Country" class="form-control">
                        <option value="Netherlands">Netherlands</option>
                        <option value="Germany">Germany</option>
                        <option value="Belgium">Belgium</option>
                    </select>
                    <div *ngIf="!country.valid && country.touched" class="error">Country is required</div>
                </div>
                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-4">
            <div class="panel-heading">
                <h3 class="panel-title">Address Details</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Address Line 1</label>
                    <input maxlength="200" type="text" required="required" class="form-control" name="AddressLine1" #AddressLine1="ngModel"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="data.AddressDetails.AddressLine1"
                        placeholder="Enter Company Name" />
                        <div *ngIf="!AddressLine1.valid && AddressLine1.touched" class="error">Address Line 1 is required</div>
                </div>
                <div class="form-group">
                    <label class="control-label">Address Line 2 (optional)</label>
                    <input maxlength="200" type="text" required="required" name="AddressLine2" #AddressLine2="ngModel" class="form-control" 
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="data.AddressDetails.AddressLine2"
                        placeholder="Enter Company Address" />

                </div>
                <div class="form-group">
                    <label class="control-label">City</label>
                    <input maxlength="200" type="text" required="required" name="City" #City="ngModel" class="form-control"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="data.AddressDetails.City"
                        placeholder="Enter Company Address" />
                        <div *ngIf="!City.valid && City.touched" class="error">City is required</div>

                </div>
                <div class="form-group">
                    <label class="control-label">Country</label>
                    <select required="required" [ngModelOptions]="{standalone: true}" name="cnt" #cnt="ngModel"
                        [(ngModel)]="data.AddressDetails.Country" class="form-control">
                        <option value="Netherlands">Netherlands</option>
                        <option value="Germany">Germany</option>
                        <option value="Belgium">Belgium</option>
                    </select>
                    <div *ngIf="!cnt.valid && cnt.touched" class="error">Country is required</div>

                </div>
                <button class="btn btn-primary nextBtn pull-right" type="submit">Next</button>
            </div>
        </div>
        <div class="panel panel-primary setup-content" id="step-5">
            <fieldset disabled="disabled" class="panel-heading">
                <h3 class="panel-title">Confirm Registration</h3>
            </fieldset>
            <fieldset disabled="disabled" class="panel panel-primary" style="pointer-events:none;" readOnly="readOnly">
                <div class="panel-heading">
                    <h3 class="panel-title">Account Type</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Account Type</label>
                        <select required="required" class="form-control" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data.Account.Type">
                            <option value="Individual">Individual</option>
                            <option value="Joint">Joint</option>
                            <option value="Business">Business</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset disabled="disabled" class="panel panel-primary" style="pointer-events:none;" readOnly="readOnly">
                <div class="panel-heading">
                    <h3 class="panel-title">Credentials</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">User name</label>
                        <input maxlength="200" type="text" required="required" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data.Credentials.UserName" class="form-control"
                            placeholder="Enter User Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input maxlength="200" type="text" required="required" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data.Credentials.FirstName" class="form-control"
                            placeholder="Enter First Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input maxlength="200" type="text" required="required" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data.Credentials.LastName" class="form-control"
                            placeholder="Enter Last Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">E-mail Address</label>
                        <input maxlength="200" type="text" required="required" class="form-control" [email]="true"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="data.Credentials.Email" 
                            placeholder="Enter E-mail Address" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Country </label>
                        <select required="required" class="form-control" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data.Credentials.Country">
                            <option value="Netherlands">Netherlands</option>
                            <option value="Germany">Germany</option>
                            <option value="Belgium">Belgium</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" required="required" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data.Credentials.IsDisclaimerApproved" /><label class="control-label">Do you
                            agree with the terms of use?</label>
                    </div>
                </div>
            </fieldset>
            <fieldset disabled="disabled" class="panel panel-primary" style="pointer-events:none;" readOnly="readOnly">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Passport Number</label>
                        <input maxlength="200" type="text" required="required" class="form-control"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="data.PersonalDetails.PassportNumber"
                            placeholder="Enter Passport Number" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Passport Expiration Date</label>
                        <input maxlength="200" type="date" required="required" class="form-control"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="data.PersonalDetails.ExpirationDate"
                            placeholder="Enter Passport Expiration Date" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Personal Number (e.g. BSN/Social Security Number)</label>
                        <input maxlength="200" type="text" required="required" class="form-control"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="data.PersonalDetails.SSN"
                            placeholder="Enter Personal Number" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Country</label>
                        <select required="required" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data.PersonalDetails.Country" class="form-control">
                            <option value="Netherlands">Netherlands</option>
                            <option value="Germany">Germany</option>
                            <option value="Belgium">Belgium</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset disabled="disabled" class="panel panel-primary" style="pointer-events:none;" readOnly="readOnly">
                <div class="panel-heading">
                    <h3 class="panel-title">Address Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Address Line 1</label>
                        <input maxlength="200" type="text" required="required" class="form-control"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="data.AddressDetails.AddressLine1"
                            placeholder="Enter Company Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Address Line 2 (optional)</label>
                        <input maxlength="200" type="text" required="required" class="form-control"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="data.AddressDetails.AddressLine2"
                            placeholder="Enter Company Address" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">City</label>
                        <input maxlength="200" type="text" required="required" class="form-control"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="data.AddressDetails.City"
                            placeholder="Enter Company Address" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Country</label>
                        <select required="required" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data.AddressDetails.Country" class="form-control">
                            <option value="Netherlands">Netherlands</option>
                            <option value="Germany">Germany</option>
                            <option value="Belgium">Belgium</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="panel-body">
                <button class="btn btn-primary nextBtn pull-right" type="submit" (click)="Save()">Save</button>
            </div>
        </div>
        <div class="panel panel-primary setup-content" id="step-6">
            <div class="panel-heading">
                <h3 class="panel-title">Thank you</h3>
            </div>
            <div class="panel-body">
                Thank you we have recieved your data!!!
            </div>
        </div>
    </form>
</div>