<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div>
                <div *ngIf="f.form.valid && submitted && f.submitted" class="alert alert-success">Data saved successfully</div>
                <div *ngIf="f.form.valid && !submitted && f.submitted" class="alert alert-danger">Error in saving information</div>
                <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Name.valid }">
                        <label for="username">Name</label>
                        <input type="text" class="form-control" name="Name" [(ngModel)]="tenantInfo.Name"
                            #Name="ngModel" required />
                        <div *ngIf="f.submitted && !Name.valid" class="help-block">Name is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !MainColor.valid }">
                        <label for="mainColor">Main color</label>
                        <input type="text" class="form-control" name="MainColor" [(ngModel)]="tenantInfo.MainColor"
                            #MainColor="ngModel" required />
                        <div *ngIf="f.submitted && !MainColor.valid" class="help-block">Main color is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !SecondaryColor.valid }">
                        <label for="secondaryColor">Secondary color</label>
                        <input type="text" class="form-control" name="SecondaryColor"
                            [(ngModel)]="tenantInfo.SecondaryColor" #SecondaryColor="ngModel" required />
                        <div *ngIf="f.submitted && !SecondaryColor.valid" class="help-block">Secondary color is required</div>
                    </div>
                    <div class="form-group">
                        <label for="secondaryColor">Allowed Account Types</label>
                        <div class="checkbox">
                            <label for="All">
                                <input type="checkbox" [(ngModel)]="tenantInfo.Configuration.AllowedAccountTypes.All"
                                    name="All" #All="ngModel" />All</label>
                        </div>
                        <div class="checkbox">
                            <label for="Individual"><input type="checkbox" name="Individual" #Individual="ngModel"
                                    [(ngModel)]="tenantInfo.Configuration.AllowedAccountTypes.Individual" />Individual</label>
                        </div>
                        <div class="checkbox">
                            <label for="Business"><input type="checkbox" name="Business" #Business="ngModel"
                                    [(ngModel)]="tenantInfo.Configuration.AllowedAccountTypes.Business" />Business</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="askAddDetails" style="width: -webkit-fill-available;">Ask Address Details</label>
                        <select id="askAddDetails" [(ngModel)]="tenantInfo.Configuration.AskAddressDetails"
                            name="AskAddressDetails" #AskAddressDetails="ngModel">
                            <option [value]="1">Yes</option>
                            <option [value]="0">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="askCredDetails" style="width: -webkit-fill-available;">Ask Credential
                            Details</label>
                        <select id="askCredDetails" [(ngModel)]="tenantInfo.Configuration.AskCredentials" #AskCredentials="ngModel"
                            name="AskCredentials">
                            <option [value]="1">Yes</option>
                            <option [value]="0">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="CustomConfirmationPage" style="width: -webkit-fill-available;">Custom Confirmation
                            Page</label>
                        <select
                            [(ngModel)]="tenantInfo.Configuration.CustomConfirmationPage" 
                            #CustomConfirmationPage="ngModel" name="CustomConfirmationPage">
                            <option [value]="1">Yes
                            </option>
                            <option [value]="0">No
                            </option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="tenantInfo.Configuration.CustomConfirmationPage==1" [ngClass]="{ 'has-error': f.submitted && !Url.valid }">
                        <label for="Url" >Url</label>
                        <input type="text" 
                        pattern="(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]" 
                        class="form-control" name="Url" [(ngModel)]="tenantInfo.Configuration.Url" #Url="ngModel" required />
                        <div *ngIf="f.submitted && !Url.valid" class="help-block">Invalid Url</div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary" (click)="save()">Save</button>
                        <button *ngIf="f.form.valid && submitted && f.submitted" class="btn btn-primary" style="float:right"(click)="goToOnboarding()">Go to Onboarding</button>
                        <img *ngIf="loading"
                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>